{{>navbar}}
{{>error_flash}}
<div class="jumbotron">
	<div class="container">
		{{#unless user}}
		<a class="btn btn-block btn-social btn-lg btn-facebook"
		href="/auth/facebook"><i class="fa fa-facebook"></i>Sign in with Facebook!</a>
		{{/unless}}
		<div id="story" aria-idnum="{{story.id}}">
			{{#if story}}
			<h1>{{story.title}}</h1>
			<p>{{#each story.sentences}}{{this.content}}&nbsp;{{/each}}</p>
			{{/if}}
		</div>
	</div>
</div>
<div class="container">
	<div id="sentences-container">
		<div id="sentences"></div>
		<hr id="new-sentence-divider" />
		<div class="sentence" id="new-sentence">
			<div class="score"></div>
			<div class="sentence-content">
				<label for="sentence-text">Suggest a new sentence.</label>
				<form class="form-inline">
					<div class="form-group">
            <input type="text" class="form-control" id="new-sentence-text"
            placeholder="Enter your sentence here..." name="sentence">
            <button type="button" class="btn btn-primary"
            id="new-sentence-submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{>footer}}
